* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border-color: tomato;
  font-family: "Roboto mono", sans-serif;
}
header {
  font-size: 0.9rem;
  background-color: rgb(233, 182, 16);
  padding: 20px;
  margin: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
h2 {
  text-align: center;
  background-color: rgb(74, 173, 213);
  padding: 15px;
  margin: 10%;
  margin-top: 20px;
}
form {
  /* min-height: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 0.5rem;
}
form button {
  color: tomato;
  cursor: pointer;
  background: turquoise;
}
.apcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
