* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto mono", sans-serif;
  border-style: dashed;
  border-top: none;
  border-color: rgb(18, 16, 46);
}
/* __________________TITRE ET TEXTES______________ */
header {
  font-size: 0.85rem;
  background-color: rgb(255, 183, 3);
  padding: 15px;
  margin: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(142, 202, 230);
  padding: 15px;
  margin: 10px 10% 10px 10%;
  margin-top: 20px;
}
p {
  text-align: center;
}
/* ________________JE VEUX DE L'AIDE__________ */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
}
form button {
  color: tomato;
  cursor: pointer;
  background: rgba(18, 27, 65, 0.707);
}
/* _______________BOUTON__________ */
.subaide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#divbut {
  display: flex;
  justify-content: center;
  align-items: center;
}
#butt1 {
  /* flex-direction: row; */
  background: rgba(18, 27, 65, 0.707);
  color: white;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", "sans-serif";
  padding: 0.5rem;
  font-size: 1rem;
}
#butt2 {
  margin-left: 20px;
  background: rgba(18, 27, 65, 0.707);
  color: white;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", "sans-serif";
  padding: 0.5rem;
  font-size: 1rem;
}

/* .apcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .apprenant {
  width: 600px; */
/* list-style: none; */
/* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
/* } */
/* __________Ajout de la nouvelle ligne________ */
.todo {
  /* margin: 0 250px 0 250px; */
  height: 25px;
  /* min-width: 600px; */
  background: coral;
  font-size: 0.9rem;
  border: 1px solid black;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  border-top: none;
}
.todo_item,
.todo_date {
  text-justify: auto;
  border-right: 1px solid black;
  height: auto;
  width: 200px;
}
/* _______Bouton passe mon tour_____ */
.compbtn {
  margin: 5px 0 5px 30px;
  background-color: rgb(255, 146, 3);
  border-radius: 5px;
  padding: 3px;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
/* .todo_item {
  padding: 0.7rem O.5rem;
} */

/* _______TABLEAU APPRENANT____________  */
#tableau {
  border-collapse: collapse;
  margin-left: 400px;
  min-width: 600px;
  width: auto;
  border: 1px solid black;
  margin-bottom: 50px;
}
/* thead {
  border: 1px solid black;
} */
td,
th {
  padding: 2px 10px;
  min-width: 200px;
  text-align: center;
  border: 1px solid black;
}

/* ________PARTIE GRISÉE_______ */
.grise {
  opacity: 0.6;
  color: white;
  text-decoration: line-through;
  background-color: rgb(156, 154, 154);
}
