* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  background-color: rgb(255, 183, 3);
}

h2,
h3 {
  background-color: rgb(142, 202, 230);
}

header,
h2,
h3,
.button2,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  background-color: rgb(2, 48, 71);
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: rgb(2, 48, 71);
  color: rgb(142, 202, 230);
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}

.delete {
  background-color: rgb(251, 133, 0);
  color: aliceblue;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete:hover {
  background-color: rgb(251, 133, 0);
  color: rgb(2, 48, 71);
}