* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto mono", sans-serif;
  border-style: dashed;
  border-top: none;
  border-color: rgb(18, 16, 46);
}
/* __________________TITRE ET TEXTES______________ */
header {
  font-size: 0.85rem;
  background-color: rgb(255, 183, 3);
  padding: 15px;
  margin: 10%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(142, 202, 230);
  padding: 15px;
  margin: 10px 10% 10px 10%;
  margin-top: 20px;
}
p {
  text-align: center;
}
/* ________________JE VEUX DE L'AIDE__________ */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 0.5rem;
}
form button {
  color: tomato;
  cursor: pointer;
  background: rgba(18, 27, 65, 0.707);
}
/* _______________BOUTON__________ */
.subaide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.but {
  /* flex-direction: row; */
  background: rgba(18, 27, 65, 0.707);
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto", "sans-serif";
}

.apcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.apprenant {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  /* background: coral; */
  color: black;
  font-size: 0.7rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

/* _______Bouton passe mon tour_____ */

.compbtn {
  background-color: rgb(255, 146, 3);
  border-radius: 5px;
  padding: 3px;
  color: white;
  border: none;
  font-size: 0.7rem;
  cursor: pointer;
}
.todo_item {
  padding: 0.7rem O.5rem;
}
/* .ajoutAide,
li { } */
/* _______TABLEAU VALIDATION____________  */
table {
  margin: 10px auto 0 auto;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}
td,
th {
  border: 1px solid black;
}
/* ________PARTIE GRISÉE_______ */
.grise {
  text-decoration: line-through;
  background-color: grey;
}
